In [9]:
!pip install geocoder

Requirement already satisfied: geocoder in /usr/local/lib/python3.7/dist-packages (1.38.1)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from geocoder) (0.16.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from geocoder) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from geocoder) (1.15.0)
Requirement already satisfied: ratelim in /usr/local/lib/python3.7/dist-packages (from geocoder) (0.1.6)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from geocoder) (7.1.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (2020.12.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ratelim->geocoder) (4.4.2)

 Libraries import

In [22]:
import pandas as pd
import numpy as np
import geocoder

Reading the Toronto.csv

In [30]:
df = pd.read_csv('Toronto.csv')
df.head()

                                          Postalcode      Borough Neighborhood
0                   M1B,Scarborough,"Rouge, Malvern"          NaN          NaN
1  M1C,Scarborough,"Highland Creek, Rouge Hill, P...          NaN          NaN
2  M1E,Scarborough,"Guildwood, Morningside, West ...          NaN          NaN
3                                                M1G  Scarborough       Woburn
4                                                M1H  Scarborough    Cedarbrae

In [31]:
print(df.shape)
df.describe()

(103, 3)

       Postalcode     Borough          Neighborhood
count         103          46                    46
unique        103          10                    46
top           M4G  North York  Church and Wellesley
freq            1          13                     1

In [32]:
def get_latilong(postal_code):
    lati_long_coords = None
    while(lati_long_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lati_long_coords = g.latlng
    return lati_long_coords
    
get_latilong('M4G')

[43.709020000000066, -79.36348999999996]

In [33]:
# Retriev. Postal Code Coordinates
postal_codes = df['Postalcode']    
coords = [ get_latilong(postal_code) for postal_code in postal_codes.tolist() ]

In [34]:
# Adding Columns Latitude & Longitude
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']

In [35]:
df[df.Postalcode == 'M5G']

   Postalcode           Borough        Neighborhood  Latitude  Longitude
57        M5G  Downtown Toronto  Central Bay Street  43.65609  -79.38493

In [36]:
df.head(15)

                                           Postalcode  ... Longitude
0                    M1B,Scarborough,"Rouge, Malvern"  ... -79.19662
1   M1C,Scarborough,"Highland Creek, Rouge Hill, P...  ... -79.15875
2   M1E,Scarborough,"Guildwood, Morningside, West ...  ... -79.17470
3                                                 M1G  ... -79.21761
4                                                 M1H  ... -79.23892
5                                                 M1J  ... -79.23117
6   M1K,Scarborough,"East Birchmount Park, Ionview...  ... -79.26461
7   M1L,Scarborough,"Clairlea, Golden Mile, Oakridge"  ... -79.28506
8   M1M,Scarborough,"Cliffcrest, Cliffside, Scarbo...  ... -79.23496
9       M1N,Scarborough,"Birch Cliff, Cliffside West"  ... -79.26466
10  M1P,Scarborough,"Dorset Park, Scarborough Town...  ... -79.26940
11                M1R,Scarborough,"Maryvale, Wexford"  ... -79.30054
12                                                M1S  ... -79.26708
13  M1T,Scarborough,"Clarks Corners, Sullivan, Tam...  ... -79.30156
14  M1V,Scarborough,"Agincourt North, L'Amoreaux E...  ... -79.28044

[15 rows x 5 columns]

In [37]:
df.to_csv('toronto_part2.csv',index=False)